.navbar-nav .nav-item {
    margin-bottom: 10px;
  }
  
  .navbar-toggler {
    border: none;
  }
  
  .icon-link-hover:hover {
    color: #ffd700; 
    cursor: pointer;
  }
  
  
  @media (max-width: 768px) {
    .navbar-brand {
      margin-bottom: 10px;
    }
  
    .navbar-nav {
      text-align: center;
    }
  
    .nav-item {
      margin-bottom: 5px;
    }
  }
  