<div class="privacy-policy-container">
    <h1>Privacy Policy</h1>
    <p>Your privacy is important to us. This privacy policy explains how we handle and secure your personal data.</p>
    <p>
      We collect and use your information solely for the purpose of providing and improving our services. Rest assured,
      your data is treated with the utmost care and confidentiality.
    </p>
    <p>
      If you have any questions or concerns about our privacy practices, please do not hesitate to contact us at
      <a href="mailto:privacy@angularproject.com">privacy&#64;angularproject.com</a>

    </p>
  </div>
  