.access-denied-container {
    min-height: 100vh; 
    background-image: url('/assets/images/not-found.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .overlay {
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 2rem;
    border-radius: 50px;
    text-align: center;
  }
  
  button {
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    color: white;
    border: none;
    background-color: #007bff; 
    cursor: pointer;
    border-radius: 100%;
  }
  
  button:hover {
    background-color: #0056b3; 
  }
  
  