.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.d-flex {
  flex: 1;
  display: flex;
}

app-list-menu {
  width: 25%;
  background-color: #f8f9fa; /* Ελαφρύ γκρι για να φαίνεται */
  border-right: 1px solid #ddd;
}

.flex-grow-1 {
  flex-grow: 1;
  overflow-y: auto;
}

/* Για το container του sidebar */
.sidebar {
  min-height: calc(100vh - var(--navbar-height) - var(--footer-height)); /* Εξασφαλίζει ότι το ύψος καλύπτει το viewport */
  background-color: #f0f0f0; /* Χρώμα φόντου */
  background-image: url('/assets/images/sidebar.jpg');
  background-size: cover; /* Εξασφαλίζει ότι η εικόνα καλύπτει όλο το φόντο */
  background-position: center; /* Κεντράρει την εικόνα */
  background-repeat: no-repeat; /* Αποτρέπει την επανάληψη της εικόνας */
}

/* Ρυθμίσεις για το navbar και το footer */
:root {
  --navbar-height: 70px; /* Ρύθμιση ύψους navbar */
  --footer-height: 70px; /* Ρύθμιση ύψους footer */
}

.main-content {
  margin-top: var(--navbar-height); /* Ρυθμίζει την απόσταση από το navbar */
  margin-bottom: var(--footer-height); /* Ρυθμίζει την απόσταση από το footer */
}

